@font-face {
  font-family: 'Gilroy';
  font-weight: 600;
  src: url('assets/fonts/Gilroy-Bold.woff2');
}
@font-face {
    font-family: 'GilroyReg';
    font-weight: 800;
    src: url('assets/fonts/Gilroy-Regular.woff2');
}
.commonlabel{
  font-family: 'Lexend Peta', sans-serif;
  font-size: small;
  position: absolute;
  margin-top: 0px;
  margin-bottom: 20px;
  background-color: white;
  margin-left: 5px;
}
.form-control{
  font-family: 'Lexend Peta', sans-serif;
  font-size: small;
}
.form-control:focus {
  border-color: black;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.commonlabel::first-letter{
  color: #d81d19;
}
.flex-column{
  display: flex;
}

.flex-row-center{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: row;
}
.flex-row-space{
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: row;
}
.flex-column-center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }
 .flex-column-space{
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
 }
 .flex-column-end{
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
 }
.form-control{
  height: 70px;
  padding: 20px;
  margin-top: 10px;
}
.border{
  border: 1px solid black;
}
.gap20{
  gap: 20px;
}
.registration-btn{
  border-radius: 100px;
  border: none;
  height: 70px;
  width: 100%;
  font-family: 'Lexend Peta', sans-serif;
  background-color:#4fbce5;
  font-size:14px;
  color: white;
}
.registration-btn:hover{
  background-color: #0172c2;
}
.padding20{
  padding: 20px;
}
.padding10{
  padding: 10px;
}
.full{
  height: 100vh;
}
.flex-row-space{
  display: flex;
  align-content: center;
  justify-content: space-between;
}
a{
  color:#4fbce5;
  font-family: 'Gilroy', sans-serif;
  font-weight: 300;
  font-size: smaller;
 cursor: pointer;
 text-decoration: none;
}

h1{
font-family: 'Gilroy', sans-serif;
font-weight: 500;
font-size: 2.5rem;
line-height: 48px;
-webkit-font-smoothing: antialiased;
color: black;
}
#forgotemail{
  font-family: 'Gilroy', sans-serif;
font-weight: 500;
}
#verificationemail{
  font-family: 'Gilroy', sans-serif;
font-weight: 200;
font-size: 15px;
line-height: 48px;
-webkit-font-smoothing: antialiased;
color: #1a8310;
}
#otpclock{
  font-family: 'Gilroy', sans-serif;
font-weight: 200;
font-size: 15px;
line-height: 45px;
-webkit-font-smoothing: antialiased;
}
.submit{
  border-radius: 100px;
  border: none;
  height: 53px;
  width: 40%;
  font-family: 'Gilroy', sans-serif;
  background-color:#4fbce5;
  font-size:14px;
  color: black;
}
#resetEmail{
  font-family: 'Gilroy', sans-serif;
  font-size: small;
  width: 100%;
  height: 70%;
}
#resetEmail:focus{
  border-color: azure;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.closemark{
  position: absolute;
  margin-left: 80%;
  top:0;
  margin-top: 12px;
}
.verify{
  border-radius: 100px;
  border: none;
  height: 50px;
  width: 40%;
  font-family: 'Gilroy', sans-serif;
  background-color:#d1b4f0;
  font-size:14px;
  color: black;
}
.verify:hover{
  background-color: #481083;
  color: white;
}
#otp{
  font-family: 'Gilroy', sans-serif;
  font-size: small;
  width: 100%;
  height: 70%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
#resendcode{
  color:#4fbce5;
  font-family: 'Gilroy', sans-serif;
  font-weight: 300;
  font-size: smaller;
 cursor: pointer;
 text-decoration:underline;
}
.full-width{
  width: 100%;
}
/* #newpassword,#retypenewpassword{
  height: 20%;
} */
small{
  font-family: 'Gilroy', sans-serif;
  font-weight: 300;
}
a:hover{
  color: #0172c2;

}
.card{
  border: none;
}
.logo{
  width:50px;
  height: 50px;
  border-radius: 50%;
  border:1px solid #ffcfcd;
  font-family: 'Gilroy', sans-serif;
  font-size: larger;

}
.cart{
  width:20px;
  height: 20px;
}
.gap10{
  gap:10px
}
.flex-row-space2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.cart:hover{
  color: #00315e;
}
p{
  font-family: 'Gilroy', sans-serif;

}
.border-bottom{
  border-bottom: 1px solid black;
}
.charcard>p:hover{
  background-color: #76838f;
}
.charcard{
    height: 100%;
    width: 98%;
    margin: 0 auto; /* So as to center the box */
    transition-property: width;
    transition-duration: 2s;
}

#main-content{
  margin-top: 12%;
}
.gilroy{
  font-family: 'Gilroy', sans-serif;
}
#content-tittle{
  font-size: 100px;
  line-height: 100px;
}
@media only screen and (max-width: 768px) {
  #content-tittle{
    font-size: 70px;
    line-height: 90px;
  }
}
.hotelimg{
  height:70px;
  width:70px;
}
.gap3{
  gap:3px
}